/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

.gallery {
  list-style: none;

  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;

  width: 1440px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-item {
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.main-title {
  padding: 20px;
}

.feedback-form {
  width: 360px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form label input {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  height: 40px;
}

.feedback-form label textarea {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}

.feedback-form button {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  background: rgb(78, 117, 255);
  width: 95px;
  height: 40px;

  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
